<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= I18n.t("home.title") %></title>
     <link rel="shortcut icon" href="img/logo_black.png">
    <%= stylesheet_link_tag "landio" %>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "flag-icon.min" %>
    <link rel="stylesheet" href="stylesheets/.css">
  </head>

  <body>
    <%= yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <%= javascript_include_tag "landio.min" %>
  </body>

</html>

