<ul class="nav navbar-nav pull-xs-right">

  <li class="nav-item nav-item-toggable">
    <a class="nav-link" href="#features">
      <%= I18n.t("home.navbar.features") %>
    </a>
  </li>
  <li class="nav-item nav-item-toggable">
    <a class="nav-link" href="#pricing">
      <%= I18n.t("home.navbar.pricing") %>
    </a>
  </li>
  <li class="nav-item nav-item-toggable">
    <a class="nav-link" href="https://docs.tellidasubscriptions.com" target="_blank">
      <%= I18n.t("home.navbar.docs") %>
    </a>
  </li>
  <li class="nav-item nav-item-toggable">
    <a class="nav-link" href="https://blog.tellidasubscriptions.com" target="_blank">
      <%= I18n.t("home.navbar.blog") %>
    </a>
  </li>

  <li class="nav-item nav-item-toggable <%= I18n.locale == :fr ? "active" : "" %>">
    <a class="nav-link" href="/fr">
      <span class='flag-icon flag-icon-fr'>&nbsp;</span> fr
    </a>
  </li>

  <li class="nav-item nav-item-toggable <%= I18n.locale == :en ? "active" : "" %>">
    <a class="nav-link" href="/">
      <span class='flag-icon flag-icon-gb'>&nbsp;</span> en
    </a>
  </li>
</ul>