<div class="card-header text-uppercase">
  <%= I18n.t("home.pricing.#{plan}.title") %>
</div>

<div class="card-block">
  <p class="card-title">
    <%= I18n.t("home.pricing.#{plan}.subtitle") %>
  </p>
  <h4 class="card-text">
    <sup class="pricing-box-currency">
      <%= I18n.t("home.pricing.currency") %>
    </sup>
    <span class="pricing-box-price">
      <%= I18n.t("home.pricing.#{plan}.flat_fee") %>
    </span>
    <small class="text-muted text-uppercase">
      <%= I18n.t("home.pricing.monthly") %>
    </small>
  </h4>
</div>
<ul class="list-group list-group-flush p-x">
  <% I18n.t("home.pricing.#{plan}.items").each do |item| %>
    <li class="list-group-item"><%= item %></li>
  <% end %>
</ul>
<a href="#" class="btn btn-primary-outline">
  <%= I18n.t("home.pricing.get_started") %>
</a>